<div class="demo">
  <div class="clear">
    <div class="demo-title">
      <h2>Let's Make A Plan! (How this Thing Works)</h2>
    </div>
    <div class="steps">
      <h3>Find Things To Do</h3>
        <p>Search for Activities</p>
        <p>Search for Restaurants</p>
    </div>
    <div class="steps">
      <h3>Add Favorite Activities</h3>
        <p>Don't Forget to Add a few Meals</p>
        <p>Add Custom Destinations</p>
    </div>
    <div class="steps">
      <h3>We Do The Rest!</h3>
      <p>Activities Organized by Type</p>
      <p>Route Based on Min. Distance</p>
    </div>
  </div>
</div>