<div class="source-image"></div>

<div id="left-side"></div>
<i class="icon-angle-left icon-x" ></i>

<div id="right-side"></div>
<i class="icon-angle-right icon-x" ></i>

  <h1 class="home-header">This small snippet completely explains how <br>
       our app works. All possible questions will be answered!</h1>

  <div class="listofplans">
    
  
  </div>


