<% if current_user %>
  <h3 class="welcome-message" >
    Welcome, <%= current_user.name %>!
  </h3>
<% end %>   

<h1>Recently Added Plans</h1>

<div class="listofplans">
  <ul>
  <% if @plans %>
    <% @plans.last(13).reverse.each do  |plan| %>
    <li><%= link_to plan.title, plan_path(plan) %></li>
    <% end %>
  <% end %>    
  </ul>
</div>
