<h1>Create new plan</h1>

<% if @plan.errors.full_messages %>
<ul>
  <% @plan.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>
<% end %>  

<form>
  <input id="title" name="title" placeholder="Title your plan" type="text" /><br />
  
  <h3>Add Activities</h3> 
  <div class="activity-form">
    <input id="destination" name="destination" placeholder="Destination" type="text" />
    <input id="address" name="address" placeholder="Address" type="text"/>
    <div>
      <p class="switch-label">Will this activity involve a meal?</p>
      <div class="switch" data-on-label="Yes" data-off-label="No">
        <input id="meal" name="meal" type="checkbox" value="1" />
      </div>          
    </div>
  </div>
  <input class="btn add-activity" name="commit" type="submit" value="Add Activity" />
</form>

<div class="new-plan"> 
  <h3>Your Plan</h3>
</div>
<%= link_to "Create!", '#', class: "btn btn-primary create-plan" %>


