<h1>Create new plan</h1>

<% if @plan.errors.full_messages %>
<ul>
  <% @plan.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>
<% end %>  

<form>
  <input id="title" name="title" placeholder="Title your plan" type="text" /><br />
  
  <h3>Add Activities</h3> 
  <div class="activity-form">
    <input id="destination" name="destination" placeholder="Destination" type="text" />
    <input id="address" name="address" placeholder="Address" type="text"/>
    <div>
      <p class="switch-label">Will this activity involve a meal?</p>
      <div class="switch" data-on-label="Yes" data-off-label="No">
        <input id="meal" name="meal" type="checkbox" value="1" />
      </div>          
    </div>
  </div>
  <input class="btn add-activity" name="commit" type="submit" value="Add Activity" />
  <input class="btn btn-danger yelp-search" name="commit" type="submit" value="Search Yelp!" />
</form>

<div class="search-results"> 
  <h3>Search Results</h3>
  <div class="activity-block">
    <div class="images"> 
      <img class="photo" src="http://s3-media1.ak.yelpcdn.com/bphoto/p-Y3H1hxM9rDU7R7fqN30A/ms.jpg">
      <img class="rating" src="http://s3-media1.ak.yelpcdn.com/assets/2/www/img/2e909d5d3536/ico/stars/v1/stars_small_3_half.png">
    </div>
    <div class="activity-details">
      <div class="activity-name">Whatever Name</div>
      <div class="activity-address">717 Californiat Street, San Francisco, CA</div>
    </div>
    <div class="add-to-plan">
      <i class="icon-plus icon-2x"></i>
      <p>(add to plan)</p>
    </div>
  </div> 

  <div class="activity-block">
    <div class="images"> 
      <img class="photo" src="http://s3-media1.ak.yelpcdn.com/bphoto/p-Y3H1hxM9rDU7R7fqN30A/ms.jpg">
      <img class="rating" src="http://s3-media1.ak.yelpcdn.com/assets/2/www/img/2e909d5d3536/ico/stars/v1/stars_small_3_half.png">
    </div>
    <div class="activity-details">
      <div class="activity-name">Whatever Name</div>
      <div class="activity-address">717 Californiat Street, San Francisco, CA</div>
    </div>
     <div class="add-to-plan">
      <i class="icon-plus icon-2x"></i>
      <p>(add to plan)</p>
    </div>
  </div> 
</div>

<div class="new-plan"> 
  <h3>Your Plan</h3>
    <div class="activity-block meal-block">
    <div class="images"> 
      <img class="photo" src="http://s3-media1.ak.yelpcdn.com/bphoto/p-Y3H1hxM9rDU7R7fqN30A/ms.jpg">
      <img class="rating" src="http://s3-media1.ak.yelpcdn.com/assets/2/www/img/2e909d5d3536/ico/stars/v1/stars_small_3_half.png">
    </div>
    <div class="activity-details">
      <div class="activity-name">Whatever Name</div>
      <div class="activity-address">717 Californiat Street, San Francisco, CA</div>
    </div>
    <div class="activity-icon">
      <i class="icon-food icon-2x"></i>
    </div>
  </div> 

  <div class="activity-block nonmeal-block">
    <div class="images"> 
      <img class="photo" src="http://s3-media1.ak.yelpcdn.com/bphoto/p-Y3H1hxM9rDU7R7fqN30A/ms.jpg">
      <img class="rating" src="http://s3-media1.ak.yelpcdn.com/assets/2/www/img/2e909d5d3536/ico/stars/v1/stars_small_3_half.png">
    </div>
    <div class="activity-details">
      <div class="activity-name">Whatever Name</div>
      <div class="activity-address">717 Californiat Street, San Francisco, CA</div>
    </div>
    <div class="activity-icon">
      <i class="icon-camera-retro icon-2x"></i>
    </div>
  </div> </div>

<%= link_to "Create!", '#', class: "btn btn-primary create-plan" %>


