<h1 class="page-title">Select activities for your next plan</h1>
<form class="plan-create">
  <div class="activity-form">
      <input id="destination" class="input-field" name="destination" placeholder="Activity name (e.g. Coit Tower, mexican food)"
             type="text" />
      <input id="address" class="input-field" name="address" placeholder="Location (e.g. SF, Paris, Berlin)" type="text"/>
    
    <div class='activity-options'>
      <input id="meal" name="meal" type="checkbox" />Is this a meal?
      <input class="btn btn-primary add-activity" name="commit" type="submit" value="Search for activities" />
    </div>
  </div>

  <div class="plan-builder">
    <div class="new-plan">
      <h3>My Plan's Activities</h3>
      <div class="plan-creation">
        <input id="title" class="plan-title-field" name="title" placeholder="Plan title (e.g. My day in Paris)" type="text"/>
        <input class="btn btn-primary create-plan disabled" name="commit" type="submit" value="Create my plan!" />
      </div>
    </div>

    <div class="search-results">
      <h3>Search Results</h3>
    </div>
  </div>
</form>

<div class="demo">
  <div class="clear">
    <div class="demo-title">
      <h2>Let's Make A Plan!</h2>
    </div>
    <div class="steps">
      <h3>1. Find Things To Do</h3>
        <p>Enter an activity or meal and its location</p>
    </div>
    <div class="steps">
      <h3>2. Add It To Your Plan</h3>
        <p>Click "Search for activities", then add a search result to your plan</p>
    </div>
    <div class="steps">
      <h3>3. We Do The Rest!</h3>
        <p>Click "Create my plan" and we'll automagically find a plan that minimizes your travel time</p>
    </div>  
  </div>
</div>

