<h1><%= @plan.title %></h1>

<ul class="plan-activities">
  <% @activities_plans.each do |activity_plan| %>
    <li>
      <div id = "activity position <%= activity_plan.sequence %>">
      <%= activity_plan.activity.title %>
      </div>
    </li>
  <% end %>
</ul>

