<h1><%= @plan.title %></h1>

<ul class="plan-activities">
  <% @activities_plans.each do |activity_plan| %>
    <li>
      <%= activity_plan.activity.title %>
      <%= activity_plan.sequence %>
    </li>
  <% end %>
</ul>

